<div role="document">
    <div>
        <form class="form-horizontal" id="add-form" [formGroup]="editAccountForm" (ngSubmit)="onAccountEditFormSubmit()">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="add-modal-label">Edit Account</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Account's name</label>
                    <div class="col-sm-10">
                        <input type="text" [ngClass]="{ 'is-invalid': (submitted && editAccountForm.controls.account_name.errors) || (editAccountForm.controls.account_name.dirty && editAccountForm.controls.account_name.invalid) }" class="form-control" formControlName="account_name" />
                        <div *ngIf="(submitted && editAccountForm.controls.account_name.errors) || (editAccountForm.controls.account_name.dirty && editAccountForm.controls.account_name.invalid)" class="invalid-feedback">
                            <span *ngIf="editAccountForm.controls.account_name.errors.required">Access secret is required</span>
                            <span *ngIf="editAccountForm.controls.account_name.errors.noFullWhiteSpace">Full White spaces are not allowed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>