<div class="border p-3">
    <div class="d-flex mb-5 page-title">
        <h2>Download location <b>Folder</b></h2>
    </div>
    <div class="d-flex p-2">
        <div>
            Download Data Folder
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control border" placeholder="Folder's directory" disabled>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Browse</button>
            </div>
        </div>
    </div>
</div>