<div class="border p-3">
    <div class="d-flex mb-5 page-title">
        <h2>
            <i class='bx bx-folder-open nav__icon'></i>
            Download location <b>Folder</b>
        </h2>
    </div>
    <div class="d-flex p-2">
        <div>
            Download Data Folder
        </div>
        <div class="input-group mb-3 file-upload">
            <input type="text" class="form-control" placeholder="Folder's directory" disabled>
            <div class="input-group-append">
                <button class="btn" type="button">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>