<div role="document">
    <div>
        <form id="add-form" [formGroup]="editApiKeyForm" (ngSubmit)="onApiKeyEditFormSubmit()">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="add-modal-label">Update API key</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label class="control-label">Account</label>
                        <div>
                            <select (change)="changeProjects($event)" formControlName="accounts" class="form-control custom-select">
                                <option *ngFor="let account of accountsList" [ngValue]="account.id">{{ account.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Project</label>
                        <div>
                            <select formControlName="projects" class="form-control custom-select">
                                <option *ngFor="let project of projectsList" [ngValue]="project.id">{{ project.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="control-label">Key</label>
                        <div>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': (submitted && editApiKeyForm.controls.key.errors) || (editApiKeyForm.controls.key.dirty && editApiKeyForm.controls.key.invalid) }" formControlName="key" placeholder="Type your Twitter Api Key"/>
                            <div *ngIf="(submitted && editApiKeyForm.controls.key.errors) || (editApiKeyForm.controls.key.dirty && editApiKeyForm.controls.key.invalid)" class="invalid-feedback">
                                <span *ngIf="editApiKeyForm.controls.key.errors.required">Api Key is required</span>
                                <span *ngIf="editApiKeyForm.controls.key.errors.noWhiteSpace">No Whitespace is allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="control-label">Key Secret</label>
                        <div>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': (submitted && editApiKeyForm.controls.secret_key.errors) || (editApiKeyForm.controls.secret_key.dirty && editApiKeyForm.controls.secret_key.invalid) }" formControlName="secret_key" placeholder="Type your Twitter Api Secret Key"/>
                            <div *ngIf="(submitted && editApiKeyForm.controls.secret_key.errors)|| (editApiKeyForm.controls.secret_key.dirty && editApiKeyForm.controls.secret_key.invalid)" class="invalid-feedback">
                                <span *ngIf="editApiKeyForm.controls.secret_key.errors.required">Secret Key is required</span>
                                <span *ngIf="editApiKeyForm.controls.secret_key.errors.noWhiteSpace">No Whitespace is allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="control-label">Access Token</label>
                        <div>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': (submitted && editApiKeyForm.controls.access_token.errors) || (editApiKeyForm.controls.access_token.dirty && editApiKeyForm.controls.access_token.invalid) }" formControlName="access_token" placeholder="Type your Twitter Api access token"/>
                            <div *ngIf="(submitted && editApiKeyForm.controls.access_token.errors) || (editApiKeyForm.controls.access_token.dirty && editApiKeyForm.controls.access_token.invalid)" class="invalid-feedback">
                                <span *ngIf="editApiKeyForm.controls.access_token.errors.required">Access token is required</span>
                                <span *ngIf="editApiKeyForm.controls.access_token.errors.noWhiteSpace">No Whitespace is allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="control-label">Access Secret</label>
                        <div>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': (submitted && editApiKeyForm.controls.access_secret.errors) || (editApiKeyForm.controls.access_secret.dirty && editApiKeyForm.controls.access_secret.invalid) }" formControlName="access_secret" placeholder="Type your Twitter Api access secret"/>
                            <div *ngIf="(submitted && editApiKeyForm.controls.access_secret.errors) || (editApiKeyForm.controls.access_secret.dirty && editApiKeyForm.controls.access_secret.invalid)" class="invalid-feedback">
                                <span *ngIf="editApiKeyForm.controls.access_secret.errors.required">Access secret is required</span>
                                <span *ngIf="editApiKeyForm.controls.access_secret.errors.noWhiteSpace">No Whitespace is allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label class="control-label">Bearer Token</label>
                        <div>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': (submitted && editApiKeyForm.controls.bearer_token.errors) || (editApiKeyForm.controls.bearer_token.dirty && editApiKeyForm.controls.bearer_token.invalid) }" formControlName="bearer_token" placeholder="Type your Twitter Api bearer token"/>
                            <div *ngIf="(submitted && editApiKeyForm.controls.bearer_token.errors) || (editApiKeyForm.controls.bearer_token.dirty && editApiKeyForm.controls.bearer_token.invalid)" class="invalid-feedback">
                                <span *ngIf="editApiKeyForm.controls.bearer_token.errors.required">Bearer token token is required</span>
                                <span *ngIf="editApiKeyForm.controls.bearer_token.errors.noWhiteSpace">No Whitespace is allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>