<div id="content">
    <app-animated-app-name></app-animated-app-name>
    
    <div class="navigation" id="nav">
        <div class="item scraper">
            <!-- <a href="#" class="icon"></a> -->
            <a href="#" class="icon"></a>
            <h2>Scraper</h2>
        </div>
        <div class="item search">
            <a href="#" class="icon"></a>
            <h2>Search</h2>
        </div>
        <div class="item trending">
            <a href="#" class="icon"></a>
            <h2>Trending</h2>
        </div>
        <div class="item config">
            <a routerLink="/config-page" class="icon"></a>
            <h2>Configuration</h2>
        </div>
    </div>

    <app-animated-twitter-bird></app-animated-twitter-bird>
</div>