<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Configuration</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="accounts-management">
            Twitter.Dev Accounts
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="api-keys-management">
            API Keys
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="projects-management">
            Projects
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Download Folder location</a>
    </div>
</div>