<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Configuration</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="accounts-management">Twitter Developer Account</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">API Keys</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Montly Tweet Cap Usage</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Download Folder location</a>
    </div>
</div>