.wrapper {
    justify-content: center;
    margin: auto 0;
}

.expander {
    margin: 0 0 0 12rem;
    -webkit-transition: .5s;
    transition: .5s;
}

.shrink {
    margin: 0 0 0 5rem;
    -webkit-transition: .5s;
    transition: .5s;
}

.page-content {
    top: 1rem;
    position: relative;
}